.App {
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  font-size: 2.6rem;
  line-height: 4rem;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}
  
.charList {
  cursor: pointer;
}

.character-preview {
  cursor: pointer;
}

