.App {
	text-align: center;
	background-image: url(https://us.123rf.com/450wm/regioeligo/regioeligo1701/regioeligo170100053/69597010-stock-vector-vector-abstract-background-with-open-space-star-warp-or-hyperspace-travel-big-bang-illustration-.jpg?ver=6);
}

.Header {
	color: black;
	font-weight: bold;
}

.title {
	color: whitesmoke;
	font-weight: bolder;
}
