.page {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    font-size: 3.0rem;
    line-height: 1rem;
    font-weight: 700;
}

.list {
    background: gray;
    padding: 50px;
}

.character-preview {
    cursor: pointer;
    border: 1px solid black;
    margin: 20px 10%;
    padding: 10px;
}


.eachchar {
    padding: 20px;
}